.slider {
  width: 100%;
  height: 600px;
  background-color: #f06c64;
	overflow: hidden;
	border-bottom: 6px solid #ea676b;
	}

.slider .slider__block {
  position: relative;
  padding-top: 53px;
	padding-bottom: 53px;
}

.slider .slick-slide:after {
  width: 100%;
  height: 90%;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -2;
}

.slider .slick-prev:before,
.slider .slick-next:before {
  position: absolute;
  top: 54px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  z-index: 999;
  /* opacity: 0.5; */
}

.slider .slick-prev:before {
  left: 22px;
  background-image: url("../media/left.png");
}

.slider .slick-next:before {
  right: 20px;
  background-image: url("../media/right.png");
}

.slider .slick-prev,
.slider .slick-next {
  width: 60px;
  height: 40px;
  z-index: 5;
}
